# Repositories
RABBITMQ_REPO=$RABBITMQ_REPO
POSTGIS_REPO=$POSTGIS_REPO
MONGODB_REPO=$MONGODB_REPO
BIOFORMAT_REPO=$BIOFORMAT_REPO
# Volume Paths
IMS_STORAGE_PATH=$IMS_STORAGE_PATH
IMS_BUFFER_PATH=$IMS_BUFFER_PATH
UPLOADED_SOFTWARES_PATH=$UPLOADED_SOFTWARES_PATH
# Middlewares
RABBITMQ_USER="$RABBITMQ_USER"
RABBITMQ_PASSWORD="$RABBITMQ_PASSWORD"
# Advanced customization
NB_IIP_PROCESS=$NB_IIP_PROCESS
BIOFORMAT_PORT=$BIOFORMAT_PORT